<!DOCTYPE html>
<html lang="en" ng-app="leetcode">
<head>
	<meta charset="utf-8">
	<title>LeetCode Solutions</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.0/angular-material.min.js">
	<link rel="stylesheet" href="statics/RobotoDraft.css">
	<link rel="stylesheet" href="all.css">
	<meta name="viewport" content="initial-scale=1,user-scalable=no,width=device-width" />
	<meta name="theme-color" content="#2196f3"/>
</head>
<body layout="column" ng-controller="AppCtrl" md-swipe-right="openSidenav('left')" md-swipe-left="closeSidenav('left')">
<md-content layout="row" flex>
	<div ng-controller="SideNavCtrl" layout="row">
		<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
			<div class="nav-header" layout="column">
				<div layout="row" flex>
					<span flex></span>
					<img ng-src="{{avatar.url}}" class="md-avatar" alt="{{avatar.name}}" ng-click="$root.isHome=true;" />
					<span flex></span>
				</div>
				<div layout="row" layout-align="center">
					<p class="md-title" style="color:white">{{avatar.name}}</p>
				</div>
			</div>
			<md-content layout="column">
				<md-subheader class="md-primary">Problems Group (by id)</md-subheader>
				<md-list>
					<md-list-item ng-repeat="set in sets" ng-click="showSet(set)">
						<md-icon md-font-set="material-icons"> assessment </md-icon>
						<p>{{set.belong}}</p>
					</md-list-item>
				</md-list>
			</md-content>
		</md-sidenav>
	</div>
	<div layout="column" flex>
		<md-toolbar layout="row" class="md-whiteframe-z3">
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" aria-label="Menu" ng-click="toggleSidenav('left')" hide-gt-sm>
					<md-icon md-font-set="material-icons"> menu </md-icon>
				</md-button>
				<h1 class="md-toolbar-tools" layout-align-gt-sm="center">LeetCode OJ Solutions</h1>
				<span flex></span>
				<div layout-padding layout="row" show-gt-sm>
					<md-button class="md-icon-button" ng-href="mailto:i@ziofat.me" aria-label="mail">
						<md-icon md-font-set="material-icons"> email </md-icon>
					</md-button>
					<md-button class="md-icon-button" ng-href="http://weibo.com/printlts" aria-label="weibo">
						<md-icon md-svg-src="images/weibo.svg"></md-icon>
					</md-button>
					<md-button class="md-icon-button" ng-href="https://github.com/ziofat" aria-label="github">
						<md-icon md-svg-src="images/github.svg"></md-icon>
					</md-button>
				</div>
			</div>
		</md-toolbar>
		<md-content>
			<md-content ng-if="isHome" layout-padding>
				<h2 class="md-headline" style="margin-top: 0;">What is LeetCode OJ?</h2>
				<p><a href="https://leetcode.com/">LeetCode OJ</a> is a platform for preparing technical coding interviews. Pick from an expanding library of more than <i>230</i> questions, code and submit your solution to see if you have solved it correctly.</p>
				<p>The platform currently supports a total of 9 languages: C, C++, Java, Python, C#, JavaScript, Ruby, Bash, MySQL.</p>
				<h2 class="md-headline" style="margin-top: 0;">Why I do this?</h2>
				<p>Actually, just for fun. When <a href="http://github.com/vickyoopy/">@vickyoopy</a> told me about this website, I didn't really care about it. But it is a vacation, why can't I do something to fullfill my boring life? So I create this website and log my attempts.</p>
				<h2 class="md-headline" style="margin-top: 0;">What language do I use?</h2>
				<p>I like to use Javascript, because it is easy to test (in browser) and flexable syntax.</p>
			</md-content>
			<md-tabs md-dynamic-height md-border-bottom ng-if="!isHome">
				<md-tab label="{{problem.name}}" ng-repeat="problem in problems">
					<md-content class="md-padding" layout="column">
						<div layout="row">
							<div layout="column" flex="50" layout-padding>
								<h2 class="md-title">This problem has tags:</h2>
								<div><md-chips ng-model="problem.tags" readonly="true"></md-chips></div>
								<p>Run time: {{problem.run_time}} ms</p>
								<h2 class="md-title">Description({{problem.difficulty}})</h2>
								<p ng-repeat="line in problem.desc">{{line}}</p>
								<p ng-if="problem.input"><strong>Input</strong>:{{problem.input}}</p>
								<p ng-if="problem.output"><strong>Output</strong>:{{problem.output}}</p>
							</div>
							<div layout="column" flex="50" layout-padding>
								<pre><code>{{problem.source}}</code></pre>
							</div>
						</div>
					</md-content>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
</md-content>
<!-- Angular Material Dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.15/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.10.0/angular-material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/highlight.min.js"></script>
<script src="index.js"></script>
</body>
</html>
